<%- include("layout.ejs") %>

<div class="container ">
    <% if(data) {%>
    <div class="row accordion-body">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= cardTite %></h4>
          </div>
          <div class="card-body">
            
            <ul>
        <% for(var i=0; i < data.length; i++) { %>
            <p class="card-text">ACLs defined for <%= data[i] %> 
            <a href="/acl/rules/<%= data[i] %>" role="button" class="btn btn-secondary popover-test" title="view" data-content="<%= rules.catergoryRules[data[i]] %>.">View</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                <%= data[i] %>
              </button>
            <a href="/acl/rules/<%= data[i] %>?_method=put" role="button" class="btn btn-secondary popover-test" title="Edit" data-content="<%= rules.catergoryRules[data[i]] %>.">Edit</a>
            </p>
      <% }%>
            </ul>
        </div>
        </div>
    </div>
    <% } else {%>
        <div class="alert  alert-warning" role="alert">
            <strong>Warning! No Acl rules defined </strong> <a href="/home" class="alert-link"></a>
        </div>

<% }%>

<button class="btn btn-info btn-lg " type="button" data-toggle="modal" data-target="#myModal">Open Modal</button><!-- Modal-->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<%- include("footer.ejs") %>